UDS/Web Reference/wsms/sms.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendMsg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MobileNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MsgIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IsZh" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMsgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendMsgResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="SendMsgSoapIn">
    <part name="parameters" element="s0:SendMsg" />
  </message>
  <message name="SendMsgSoapOut">
    <part name="parameters" element="s0:SendMsgResponse" />
  </message>
  <portType name="smsSoap">
    <operation name="SendMsg">
      <input message="s0:SendMsgSoapIn" />
      <output message="s0:SendMsgSoapOut" />
    </operation>
  </portType>
  <binding name="smsSoap" type="s0:smsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="SendMsg">
      <soap:operation soapAction="http://tempuri.org/SendMsg" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="sms">
    <port name="smsSoap" binding="s0:smsSoap">
      <soap:address location="http://192.168.0.244/wsms/sms.asmx" />
    </port>
  </service>
</definitions>